.hero {
    background: url("../../assets/images/photo-1612157777902-5382bc6e864b.jpeg"); /*  圖片水平垂直置中  */
    background-position: center bottom;
    background-size: cover; /*  背景自適應延伸屬性  */
    height: 560px;
    @include medium (){
        height: 582px;
    }
    
}